<MarketplaceDetails>
  <SmallAppTile>MarketplaceIcon.png</SmallAppTile>
  <LargeAppTile>Background.png</LargeAppTile>
  <PCAppTile>MarketplaceIcon.png</PCAppTile>
  <ScreenShots>Screenshot0.png;Screenshot1.png;Screenshot2.png;Screenshot3.png;Screenshot4.png;;;;</ScreenShots>
  <ScreenShotsWXGA>;;;;;;;;</ScreenShotsWXGA>
  <ScreenShots720P>;;;;;;;;</ScreenShots720P>
</MarketplaceDetails>