<MarketplaceDetails>
  <SmallAppTile>BackgroundSmall.png</SmallAppTile>
  <LargeAppTile>Background.png</LargeAppTile>
  <PCAppTile>MarketplaceIcon.png</PCAppTile>
  <ScreenShots>Screenshot0.png;Screenshot1.png;Screenshot2.png;Screenshot3.png;Screenshot4.png;;;;</ScreenShots>
</MarketplaceDetails>